server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /home/ubuntu/slipstream;

    server_name blog.decloak.live;

    index server.php;

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
    }

    location / {
        try_files $uri @ext $uri/ =404;
    }

    location @ext {
        rewrite "^(.*)$" $1.php$is_args$query_string;
    }
}
