server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root /home/ubuntu/slipstream;

        server_name slipstream;

        index server.php;

        location / {
            try_files $uri $uri/ $uri.php server.php =404;
            include fastcgi_params;
            fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
}
